
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.startScreen_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobiletextinput_3 */
.startScreen_mobiletextinput_3 {
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_2 */
#startScreen_mobilebutton_2 {

}
.ui-btn.startScreen_mobilebutton_2 {
	margin: 4px 5px 4px 5px;
}
/* mobilelink_4 */
.startScreen_mobilelink_4 {
	margin: 4px 0px 4px 0px;
	display: block;
	vertical-align: middle;
	padding: 2px;
	cursor: pointer;
	display: none;
}
.startScreen_mobilelink_4_link_wrapper > .startScreen_mobilelink_4,
.startScreen_mobilelink_4_link_wrapper > .startScreen_mobilelink_4:hover,
.startScreen_mobilelink_4_link_wrapper > .startScreen_mobilelink_4:active,
.startScreen_mobilelink_4_link_wrapper > .startScreen_mobilelink_4:visited {
	text-decoration: underline; font-weight: normal; font-style: italic; color: #2489ce; text-align: left; font-family: Helvetica; font-size: 16px;
}
/* mobilefooter1 */
.startScreen_mobilefooter1 {
	min-height:38px;
}